<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div class="container">
      <header>
        <%= render 'layouts/header' %>
      </header>
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
